@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --primary-color: #21637b;
  --secondary-color: rgb(0, 0, -19);
  --white-color: #fff;
  --tertiary-color: wheat;
}

* {
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  transition: 0.3s linear;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(0, 0, -19);
  color: #fff;
  font-weight: bolder;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* header section */
header {
  height: 85px;
}

.header-container {
  background-color: var(--primary-color);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 22px;
}

h1 a {
  color: red;
  width: fit-content;
  background-color: var(--secondary-color);
  padding: 8px 25px;
  border-radius: 10px;
  border: 2px solid var(--white-color);
}

h1 span:nth-child(1) {
  color: var(--tertiary-color);
}

.searchContainer {
  /* width: 25rem;
  height: 45px; */
  /* border-radius: 80px;text-align: center; */

  /* background-color: red; */
}

#search-form {
  width: 100%;
  display: flex;
  border-radius: 80px;
  border: 1px solid var(--tertiary-color);
  width: 25rem;
  height: 45px;
}

#search-form input {
  display: block;
  width: 80%;
  outline: none;
  border-radius: 80px 0 0 80px;
  padding-left: 20px;
  font-size: 16px;
  background-color: inherit;
  color: var(--tertiary-color);
}

#search-form input::placeholder {
  color: var(--tertiary-color);
  font-weight: bold;
  letter-spacing: 1px;
}

#search-form button[type="submit"] {
  background-color: #023f55;
  width: 20%;
  border-radius: 0 80px 80px 0;
  font-size: 18px;
  color: var(--white-color);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-links .nav-link a.active {
  border-bottom: 2px solid var(--white-color);
}

.nav-link a {
  font-weight: bold;
  color: var(--white-color);
  font-size: 15px;
  letter-spacing: 2px;
}

.nav-link:hover {
  padding: 8px 16px;
  border: 1px solid var(--white-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--tertiary-color);
}

/* show container section */
.show-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  place-items: center;
  margin: 30px 0;
}

.show-container .cards {
  margin: 10px 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

/* modal image */
.modal-image img {
  width: 600px;
  height: 500px;
}

.card-image img:hover {
  animation: shadow 0.8s linear backwards;
}

@keyframes shadow {
  50% {
    transform: scale(1.1);
  }
}

.card-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0 15px;
  font-size: 20px;
  font-weight: normal;
}

.likes-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.likes-container p:nth-child(1) {
  width: 90%;
  line-height: 25px;
  font-size: 18px;
}

.like-btn i {
  cursor: pointer;
  color: red;
  font-size: 20px;
}

.btn-comment button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
  padding: 6px 12px;
  font-size: 15px;
  cursor: pointer;
}

/* footer section */
footer {
  width: 100%;
}

footer .header-container {
  position: relative;
}

footer .container {
  justify-content: space-around;
}

.authors,
.authors a {
  font-size: 20px;
  color: var(--white-color);
}

.authors a {
  color: var(--tertiary-color);
  text-decoration: underline;
}

/* modal section */
#modal.hidden {
  opacity: 0;
  animation: slideOUT 0.6s linear both;
}

/* #modal.slide-out */

#modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  padding: 3rem  7rem;
  overflow-y: auto;
  color: #fff;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.93);
  animation: slideIN 0.6s linear both;
}

@keyframes slideIN {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slideOUT {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.overflow {
  overflow: hidden;
}

.btn-submit button {
  margin-top: 30px;
  box-shadow: -2px -2px 1px var(--white-color);
}

.close-modal-btn {
  text-align: right;
}

.close-modal-btn button {
  font-size: 20px;
  background-color: rgb(174, 26, 26);
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  color: var(--white-color);
  border: 2px solid var(--tertiary-color);
  cursor: pointer;
}

.close-modal-btn button:hover {
  animation: shadow 0.8s linear infinite;
}

.modal-image {
  text-align: center;
}

.modal-image img:hover {
  animation: shadow 0.8s linear forwards;
}

.modal-title {
  text-align: center;
  margin: 15px;
  color: var(--tertiary-color);
}

.modal-body {
  font-weight: 100;
  text-align: justify;
  color: var(--tertiary-color);
}

#comment-section {
  text-align: center;
  margin-top: 5rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.comment-container {
  margin: 20px auto 50px;
  width: 400px;
  text-align: justify;
}

.comment-list {
  font-weight: normal;
}

#form {
  width: 250px;
  margin: auto;
}

#form h4 {
  margin-bottom: 20px;
}

#form input,
#form textarea {
  width: 100%;
  color: #000;
  padding: 8px;
  font-size: 15px;
  margin-bottom: 20px;
  background-color: var(--tertiary-color);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 4px  5px 1px var(--primary-color);
}

#form input {
  height: 40px;
}

#form textarea {
  height: 90px;
}

.btn-submit button:hover {
  box-shadow: 2px 2px 1px var(--white-color);
  transform: translateY(-3px);
}

.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  /* header section */
  .header-container {
    z-index: 4;
  }

  h1 {
    font-size: 20px;
  }

  h1 a {
    padding: 5px 15px;
  }

  .hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 11;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--white-color);
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1),
  .hamburger.active .bar:nth-child(3) {
    background-color: var(--tertiary-color);
    margin-right: 15px;
    width: 26px;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links .nav-link a.active {
    border-bottom: none;
  }

  .nav-link:hover {
    padding: 8px 16px;
    border: none;
  }

  .mobile-nav.active {
    right: 0;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--secondary-color);
    z-index: 10;
  }

  .mobile-nav .nav-links {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 20px;
  }

  .mobile-nav .nav-link a {
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: normal;
  }

  .movie-counter {
    color: var(--primary-color);
  }

  /* footer section */
  footer {
    width: 100%;
  }

  footer .header-container {
    position: relative;
  }

  footer .container {
    justify-content: space-around;
  }

  footer .container .logo {
    display: none;
  }

  .authors,
  .authors a {
    font-size: 15px;
    color: var(--white-color);
    font-weight: normal;
  }

  .authors a {
    color: var(--tertiary-color);
    text-decoration: underline;
  }

  /* show container section */
  .show-container .cards {
    margin: 20px 0;
    width: 320px;
  }

  /* modal image */
  .modal-image img {
    width: 100%;
    height: 300px;
  }

  #modal.hidden {
    opacity: 0;
    animation: slideOUT 0.6s linear both;
  }
  
  /* #modal.slide-out */
  
  #modal {
    padding: 2rem  1rem;
  }
  
  .close-modal-btn {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .close-modal-btn button {
    font-size: 16px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    color: var(--white-color);
    border: 2px solid var(--tertiary-color);
    cursor: pointer;
    /* margin-bottom: 20px; */
  }
  
  .close-modal-btn button:hover {
    animation: shadow 0.8s linear infinite;
  }
  
  .modal-title {
    text-align: center;
    margin: 15px;
    color: var(--tertiary-color);
  }
  
  .modal-body {
    font-weight: 100;
    text-align: justify;
    color: var(--tertiary-color);
  }
  
  #comment-section {
    text-align: center;
    margin-top: 5rem;
    font-weight: normal;
    letter-spacing: 1px;
  }
  
  .comment-container {
    margin: 20px auto 50px;
    width: 400px;
    text-align: justify;
  }
  
  .comment-list {
    font-weight: normal;
  }
  
  form {
    width: 250px;
    margin: auto;
  }
  
  form h4 {
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    color: #000;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 4px  5px 1px var(--primary-color);
  }
  
  input {
    height: 40px;
  }
  
  textarea {
    height: 90px;
  }
  
  .btn-submit button:hover {
    box-shadow: 2px 2px 1px var(--white-color);
    transform: translateY(-3px);
  }
  
}
